"""Im building this with the help of chatgpt and other sources as also learning to do it
So you can follow along tho this a side project so it will be extremly slow"""


certifi==2024.8.30
charset-normalizer==3.3.2
comtypes==1.4.7
idna==3.9
PyAudio==0.2.14
pypiwin32==223
pyttsx3==2.97
pywin32==306
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.3
